<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eddie.movie_online_infrastructure.mapper.userInfo.UserInfoMapper">


    <select id="queryInfo" resultType="com.eddie.movie_online_infrastructure.po.userInfo.UserInfoPO">
        select * from t_user
    </select>

</mapper>